.article-container {
	@include borderBox;
	padding: 10px;
	&.border {
		border: 1px solid $grey-30;
	}
	.content-module {
		img {
			margin-bottom: 20px;
			width: 100%;
		}
		.heading-01 {
			font-size: 3em;
		}
		.text {

		}
	}
}