header.masthead {
		@include clearFix;
		background: $header;
		text-align: center;
		position: relative;
	h1 {
		color: $white;
		padding: 10px 0;
		font-size: 3em;
		font-weight: lighter;
	}
	ul {
		@include clearFix;
		float: left;
		left: 50%;
		list-style: none;
		position: relative;
		li {
			float: left;
			margin-right: 5px;
			position: relative;
			right: 50%;
			.header-social-lnk {
				z-index: 10;
			    &:hover {
			        border: 2px solid  $white;
			        .header-social-icon  {
			            color: $white;
			        }
			    }
			}
			.header-social-icon {
			    color: $pastelGreen;
			}
			.header-social-lnk:after {
			    background: $white;
			}
			a {
				text-decoration: none;
			}
		}
	}
	@include mQuery($medium) {
		text-align: left;
	}
}
